{% extends "base.html" %}
{% block content %}

<div class="card">
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>
    <p class="small">By {{post.author}} • {{post.created_at}}</p>
</div>

<div class="card">
    <h2>Comments</h2>

    {% for c in comments %}
        <div class="card">
            <b>{{c.author}}</b><br>
            {{c.text}}

            {% if current_user.is_authenticated and current_user.username == c.author %}
                <br>
                <a href="/delete_comment/{{c.id}}">
                    <button>Delete</button>
                </a>
            {% endif %}
        </div>
    {% endfor %}

    {% if current_user.is_authenticated %}
    <form method="POST">
        <textarea name="comment"></textarea>
        <button>Comment</button>
    </form>
    {% else %}
        <p>You must log in to comment.</p>
    {% endif %}
</div>

{% endblock %}